<!DOCTYPE html>
<html lang="en">
<% include includes/head.ejs %>

<body>
    <% include includes/navbar.ejs %>

    <div class="banner">
        <div class="container height">
            <div class="info-box height">
                <div class="text-center">
                    <h4>Discover the Canadian national parks</h4>
                    <a href="#parks" class="btn btn-lg info-button">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    <section class="section-canada-parks" id="parks">
        <div class="container">
            <div class="row ">
                <h2 class="text-center">Explore</h2>
            </div>
            <div class="row">
                <div class="col-sm-6 text-center">
                    <div class="parks-container">
                        <div class="card" style="width: 30rem;">
                            <img class="card-img-top" src="../images/banff-park.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Banff National Park</h5>
                                <p class="card-description text-justify">Banff is a resort town in the province of
                                    Alberta, located within Banff National
                                    Park. The peaks of Mt. Rundle and Mt. Cascade, part of the Rocky Mountains,
                                    dominate its skyline.
                                </p>
                                <a class="btn btn-success" href="/banff-park">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 text-center">
                    <div class="parks-container">
                        <div class="card" style="width: 30rem;">
                            <img class="card-img-top" src="../images/cape-breton-park.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Cape Breton National Park</h5>
                                <p class="card-description text-justify">One of Canada’s most enchanting places, where
                                    the mountains meet the sea.
                                    As you hug the world-famous Cabot Trail coastline you'll wind through Cape Breton
                                    Highlands National Park, where lush, forested river canyons carve into the ancient
                                    plateau, edged by rust-coloured cliffs.
                                </p>
                                <a class="btn btn-success" href="/cape-breton-park">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 text-center">
                    <div class="parks-container">
                        <div class="card" style="width: 30rem;">
                            <img class="card-img-top" src="../images/yoho-park.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Yoho National Park</h5>
                                <p class="card-description text-justify">Yoho National Park is in the Rocky Mountains,
                                    in eastern British Columbia, Canada.
                                    Waterfalls include Wapta Falls, on the Kicking Horse River, and towering Takakkaw
                                    Falls.
                                </p>
                                <a class="btn btn-success" href="/yoho-park">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 text-center">
                    <div class="parks-container">
                        <div class="card" style="width: 30rem;">
                            <img class="card-img-top" src="../images/jasper-park.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Jasper National Park</h5>
                                <p class="card-description text-justify">Extending over 11,000 square kilometres, it's
                                    the largest national park in the
                                    Canadian Rockies and part of UNESCO's Canadian Rocky Mountain Parks World Heritage
                                    Site.
                                </p>
                                <a class="btn btn-success" href="/jasper-park">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <% include includes/footer.ejs %>
</body>

</html>