<!DOCTYPE html>
<html lang="en">
<% include includes/head.ejs %>

<body>
    <% include includes/navbar.ejs %>

    <div class="banner">
        <div class="container height">
            <div class="info-box height">
                <div class="text-center">
                    <h4>Discover the Canadian national parks</h4>
                    <a href="#parks" class="btn btn-lg info-button">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    <section class="section-canada-parks" id="parks">
        <div class="container">
            <div class="row ">
                <h2 class="text-center">Explore</h2>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="parks-container">
                        <div class="card" style="width: 25rem;">
                            <img class="card-img-top" src="../images/banff-park.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Banff National Park</h5>
                                <p class="card-description text-justify">Banff is a resort town in the province of
                                    Alberta, located within Banff National
                                    Park. The peaks of Mt. Rundle and Mt. Cascade, part of the Rocky Mountains,
                                    dominate its skyline. On Banff Avenue, the main thoroughfare, boutiques and
                                    restaurants mix with château-style hotels and souvenir shops. The surrounding 6,500
                                    square kilometres of parkland are home to wildlife including elk and grizzly bears.</p>
                                <a class="btn btn-success" href="/banff-park">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="parks-container">
                        <div class="card" style="width: 25rem;">
                            <img class="card-img-top" src="../images/cape-breton-park.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Cape Breton National Park</h5>
                                <p class="card-description text-justify">One of Canada’s most enchanting places, where
                                    the mountains meet the sea.
                                    As you hug the world-famous Cabot Trail coastline you'll wind through Cape Breton
                                    Highlands National Park, where lush, forested river canyons carve into the ancient
                                    plateau, edged by rust-coloured cliffs.
                                    Keep your eyes open for moose and bald eagles. You might even catch a minke or
                                    pilot whale breaking waves in the Atlantic, or Gulf of St. Lawrence.</p>
                                <a class="btn btn-success" href="/cape-breton-park">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="parks-container">
                        <div class="card" style="width: 25rem;">
                            <img class="card-img-top" src="../images/yoho-park.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Yoho National Park</h5>
                                <p class="card-description text-justify">Yoho National Park is in the Rocky Mountains,
                                    in eastern British Columbia, Canada.
                                    Waterfalls include Wapta Falls, on the Kicking Horse River, and towering Takakkaw
                                    Falls. A trail circles turquoise-coloured Emerald Lake, with a nearby natural stone
                                    bridge. The Lake O’Hara area contains alpine lakes, cliffs and wooded trails.
                                    Viewpoints overlook trains entering the Spiral Tunnels on Kicking Horse Pass.</p>
                                <a class="btn btn-success" href="/yoho-park">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="parks-container">
                        <div class="card" style="width: 25rem;">
                            <img class="card-img-top" src="../images/jasper-park.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Jasper National Park</h5>
                                <p class="card-description text-justify">Extending over 11,000 square kilometres, it's
                                    the largest national park in the
                                    Canadian Rockies and part of UNESCO's Canadian Rocky Mountain Parks World Heritage
                                    Site.
                                    Find your connection to this special place by discovering one or all of our five
                                    spectacular regions, exploring our extensive trail network, visiting our famous red
                                    chair locations or participating in Parks Canada led programs and events. (Hint:
                                    the winter months are pretty spectacular!)</p>
                                <a class="btn btn-success" href="/jasper-park">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>