<!DOCTYPE html>
<html lang="en">
<% include includes/head.ejs %>

<body>
    <% include includes/navbar.ejs %>

    <div class="banner">
        <div class="container height">
            <div class="info-box height">
                <button class="btn btn-lg info-button">Learn More</button>
            </div>
        </div>
    </div>
    <section class="section-canada-parks">
        <div class="container">
            <div class="row ">
                <div id="header">
                    <h2 class="text-center">Discover</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="parks-container">
                        <div class="card" style="width: 25rem;">
                            <img class="card-img-top img-fluid" src="../images/banff-park.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Banff National Park</h5>
                                <button>Read More</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="parks-container">
                        <div class="card" style="width: 25rem;">
                            <img class="card-img-top" src="../images/cape-breton-park.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Cape Breton National Park</h5>
                                <button>Read More</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="parks-container">
                        <div class="card" style="width: 25rem;">
                            <img class="card-img-top" src="../images/yoho-park.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Yoho National Park</h5>
                                <button>Read More</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="parks-container">
                        <div class="card" style="width: 25rem;">
                            <img class="card-img-top" src="../images/jasper-park.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Jasper National Park</h5>
                                <button>Read More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>