<!DOCTYPE html>
<html lang="en">
<% include includes/head.ejs %>

<body>
    <% include includes/navbar.ejs %>

    <div class="banner">
        <div class="container height">
            <div class="info-box height">
                <div class="text-center">
                    <h4>Discover the Canadian national parks</h4>
                    <a href="#parks" class="btn btn-lg info-button">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    <section class="section-canada-parks" id="parks">
        <div class="container">
            <div class="row ">
                <h2 class="col-md-12 text-center mt-5">Explore</h2>
                <hr width="15%" style="border: 1.5px solid #343A40">
                <p class="col-md-12 text-justify mt-2 mb-5">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. A culpa nihil quasi minus illum maxime,
                    deleniti optio amet repellendus hic distinctio consectetur obcaecati ullam, pariatur, voluptas nemo
                    ea incidunt temporibus.</p>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 text-center link-park">
                    <div class="card" style="width: 22rem;">
                        <img class="card-img-top" src="../images/banff-park.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Banff National Park</h5>
                            <p class="card-description text-justify">Banff is a resort town in the province of
                                Alberta, located within Banff National
                                Park. The peaks of Mt. Rundle and Mt. Cascade, part of the Rocky Mountains,
                                dominate its skyline.
                            </p>
                            <a class="btn btn-information" href="/banff-park">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 text-center link-park">
                    <div class="card" style="width: 22rem;">
                        <img class="card-img-top" src="../images/cape-breton-park.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Cape Breton National Park</h5>
                            <p class="card-description text-justify">One of Canada’s most enchanting places, where
                                the mountains meet the sea.
                                As you hug the world-famous Cabot Trail coastline you'll wind through Cape Breton
                                Highlands National Park, where lush, forested river canyons carve into the ancient
                                plateau, edged by rust-coloured cliffs.
                            </p>
                            <a class="btn btn-information" href="/cape-breton-park">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 text-center link-park">
                    <div class="card" style="width: 22rem;">
                        <img class="card-img-top" src="../images/yoho-park.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Yoho National Park</h5>
                            <p class="card-description text-justify">Yoho National Park is in the Rocky Mountains,
                                in eastern British Columbia, Canada.
                                Waterfalls include Wapta Falls, on the Kicking Horse River, and towering Takakkaw
                                Falls.
                            </p>
                            <a class="btn btn-information" href="/yoho-park">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 text-center link-park">
                    <div class="card" style="width: 22rem;">
                        <img class="card-img-top" src="../images/jasper-park.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Jasper National Park</h5>
                            <p class="card-description text-justify">Extending over 11,000 square kilometres, it's
                                the largest national park in the
                                Canadian Rockies and part of UNESCO's Canadian Rocky Mountain Parks World Heritage
                                Site.
                            </p>
                            <a class="btn btn-information" href="/jasper-park">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-news mt-5 mb-5" id="news">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-7 col-sm-2">

                </div>
                <div class="col-lg-4 col-md-5 col-sm-10 camping-info mt-5">
                    <h3 class="mt-4">Camping?</h3>
                    <p>Book for camping this weekend</p>
                    <form>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                        </div>
                        <button type="submit" class="btn btn-default mb-4">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <% include includes/footer.ejs %>
    <% include includes/jquery.ejs %>
</body>

</html>