/*-------------- Banner -------------- */
.banner{
    position: relative;
    width: 100%;
    height: 95vh;
    background: url(../images/landing-banner.jpg);
    background-size: cover;
}
/*-------------- End banner -------------- */

.height{
    height: 100%;
}

.info-box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.info-button{
    background: rgba(0, 0, 0, 0.4);
    color: white;
    margin-top: 10px;
}
/*-------------- Section canada parks -------------- */
.card{
    border: solid 0.25rem #9A9A75;
    margin-bottom: 2rem;
}

.card .card-img-top{
    height: 220px;
}

.card .card-description{
    height: 170px;
}

.btn-information{
    background: #9A9A75;
}

.link-park a{
    color: white;
}
/*-------------- End section canada parks -------------- */

/*-------------- Single/ park -------------- */
.banner-single-park-banff{
    position: relative;
    height: 80vh;
    background: url(../images/banff-national-park.jpg);
    background-size: cover;
}

.banner-single-park-breton{
    position: relative;
    height: 80vh;
    background: url(../images/cape-breton-park.jpg);
    background-size: cover;
}

.banner-single-park-yoho{
    position: relative;
    height: 80vh;
    background: url(../images/yoho-park.jpg);
    background-size: cover;
}

.banner-single-park-jasper{
    position: relative;
    height: 80vh;
    background: url(../images/jasper-park.jpg);
    background-size: cover;
}
/*-------------- End single park -------------- */

/*-------------- Section news -------------- */
.section-news{
    position: relative;
    height: 70vh;
    /* background: url(../images/camping.jpg); */
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(../images/camping.jpg);
    background-size: cover;
}

.camping-info{
    color: white;
    background: rgba(0, 0, 0, 0.4);
}

.camping-info p{
    font-size: 20px;
}
/*-------------- End section news -------------- */

/*-------------- Footer -------------- */
.footer-top{
    padding: 70px;
}

.segment{
    color: white;
}

.hr-footer{
    border: 1px solid white;
}
/*-------------- End Footer -------------- */

