<footer class="footer bg-dark">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 segment">
                    <h4>About</h4>
                    <hr class="hr-footer">
                    <p>About Us</p>
                    <p>Careers</p>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 segment">
                    <h4>Contact Us</h2>
                        <hr class="hr-footer">
                        <p>224 Banff Avenue, Town of Banff.</p>
                        <p>banffparks@gmail.com</p>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 segment">
                    <h4>Follow Us</h2>
                        <hr class="hr-footer">
                        <p>Follow canada parks on our social media.</p>
                        <i class="fab fa-facebook-square fa-2x m-2"></i>
                        <i class="fab fa-twitter-square fa-2x m-2"></i>
                        <i class="fab fa-instagram fa-2x m-2"></i>
                        <i class="fab fa-pinterest-square fa-2x m-2"></i>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 segment">
                    <h4>Stay Connected</h4>
                    <hr class="hr-footer">
                    <p>Subscribe to our newsletter.</p>
                    <form class="form-inline" action="">
                        <div class="form-group mb-2">
                            <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                        </div>
                        <button type="submit" class="btn btn-sm btn-success mb-2">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>