<footer class="footer bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="text-center">
                    <li class="mt-4 mr-4"><a href="https://github.com/PabloWinter"><i class="fab fa-github fa-2x"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="footer-copyright text-center py-3">
            <a href="https://pablowinter.com/"> pablowinter.com</a>
        </div>
    </div>
</footer>